*{
    font-family:'Times New Roman';
}

body{
    margin: 0;
    padding: 0;
}

#fondoWeb{
        display: flex;
        height: auto;
        width: auto;
          
}

@media (max-device-width : 768px) {
    
    #fondoWeb{

        display: flex;
        flex-direction: column;
        width: auto;
    }
  
  }

.izquierda{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 134, 63);
    background-size: cover;
    background-position: center;
    width: 30%;
    height: auto;
   
}

@media (max-device-width : 768px){
    .izquierda {
       align-items: center; 
       width: auto;
       height: auto;
    }
    
}
.flex-container{
    display: flex;
    flex-direction: row;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 80% ;
   
          
}
@media (max-device-width : 768px) {
    .flex-container {
    flex-direction: row;
    width: auto;
    }
}
#titulo{
    
    font-size: 40px;
    color:rgb(255, 255, 255) ;
    text-align: center;
    margin-bottom: 20px;
   
}
#miFoto{    
    width: 150px;
    height: 150px;
    border-radius:190px;
    border: 10px solid rgb(247, 247, 247);
    padding: 2px;
    margin-top: 0px;
    margin-left:auto;
  
}
@media (max-device-width : 770px) {
    #miFoto {
        margin-left: 0;
    }
}

h2{
    color: white ;
    text-align: center;
    margin: 0;
}
#menu{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top:25px;
  min-width: 280px;
  
}
@media (max-device-width : 770px) {
    #menu {
        min-width: 180px;
        
    }
}
#contacto{
    display: flex;
    flex-direction: row;
    width: 185px ;
    height: 115px;
    align-items: self-end;
    justify-content: center;
    gap: 22px;
    padding: 5px;
    margin-right: 10px;
 
}
@media (max-device-width : 768px) {
    #contacto {
        flex-direction: column;
        align-items: start;
        gap: 10px;
        margin-left: 20px;
        
    }
}

li{
    marker: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    list-style-type: none ;
}
@media (max-device-width : 770px) {
    li {
        width: 30%;
        
    }}

#contenedor-perfil{
    text-align: center;
    width: 85%;
    margin-left:25px;
    font-size: 20px;
    color: white;
        
}

#inbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    border-radius: 10px;
    border-color:rgb(42,174, 199) ;
    border-style: double;
    background-color:rgba(0, 0, 0,  42% );
    width: 496.5px;
    height: 330.5px ;
    overflow: auto;
    padding: 5px;
    
     }

     @media (max-device-width : 768px) {
        #inbox {
            
            width: auto;
            
        }
    }

#contenedor-info{
    text-align: center;
    width: 85%;
    margin-left:25px;
    font-size: 23px;
    color: rgb(0, 0, 0);
    
}
   
a:link{
    color: rgb(253, 253, 253) ;
    cursor: pointer;
    text-decoration: none;
}
a:visited{
    color: white;
    cursor: pointer;
      text-decoration: none;
}
 
ol{
text-align: center;
font-family: 'Times New Roman', Times, serif;
padding: 0;
margin-top: 2px;
font-size: 20px;
color: rgb(255, 255, 255);
font-weight: bold;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-top:15px ;
}

